﻿@model OrangeBricks.Web.Controllers.Property.ViewModels.ScheduleViewingViewModel

@{
    ViewBag.Title = "Schedule Viewing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Schedule Viewing</h2>

<p>When would you wish to schedule a viewing for the @Model.PropertyType on @Model.StreetName?</p>

@using (Html.BeginForm("ScheduleViewing", "Property", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Start, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.Hidden("PropertyId", Model.PropertyId)
            @Html.TextBoxFor(m => m.Start, new {@class = "form-control date-picker"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Schedule" />
        </div>
    </div>
}

<script type="text/javascript">
    $(function () {
        $('.date-picker').datepicker( {
            defaultDate: '@Model.Start',
            showTodayButton: true,
            format: 'YYYY-MM-DD HH:mm',
            showClose: true,
            showClear: true,
            toolbarPlacement: 'top',
            stepping: 15
        });
    })
</script>