﻿@model OrangeBricks.Web.Controllers.Viewings.ViewModels.ViewingsOnPropertyViewModel

@{
    ViewBag.Title = "Viewings for " + Model.StreetName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>Here you can see the viewing schedule that this property has.</p>

<p><strong>Property type:</strong> @Model.PropertyType</p>
<p><strong>Number of bedrooms:</strong> @Model.NumberOfBedrooms</p>
<p><strong>Street name:</strong> @Model.StreetName</p>

@if (Model.HasViewings)
{
    foreach (var viewing in Model.Viewings)
    {
        <p>There is a viewing at the property on <strong>@viewing.AppointmentTime.ToShortDateString()</strong> at <strong>@viewing.AppointmentTime.ToLongTimeString()</strong></p>
    }
}
else
{
    <div class="alert alert-info" role="alert">
        This property has no viewings yet!
    </div>
}

@if (!Model.IsUserTheSeller)
{
    <a href="@Url.Action("ScheduleViewing", "Property", new { id = Model.PropertyId })" class="btn btn-primary">
        Schedule Viewing
    </a>
}